@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;1,700&family=Merriweather:opsz,wght@18..144,900&family=Oswald:wght@700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
 :root {
    --primary-color: #bcd7dc;
    /* Light Blue */
    --secondary-color: #a0cfa7;
    /* Light Green */
    --accent1-color:#cae1b7;
    /* Light Yellow */
    --accent2-color: #ef3054;
    /* Light Red */
    --headings-font: Merriweather, serif;
    --body-font: 'Oswald', sans-serif;
    }

  header {
    background-color: #cae1b7;
    padding: 2rem;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    border-radius: 1.5rem;
} 

body {
  font-family: Merriweather;
  color: #1f2937;
  justify-content: center;
  background-color: #f9fafb;
  line-height: 1.6;
  margin: 1rem;
}

div{
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
  background-color:#cae1b7;
}
h1,h2{
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p{  
  background-color:azure;
  gap: 1.5rem;
  text-align: center;
  border: 2px solid black;

}
section img{
  gap: 1.5rem;
  display:flex;
  justify-content: flex-end;
}

  nav a {
    font-size: 1.25rem;
    padding: 1rem;
    border: 1px solid black;
  }
  section nav{
    display: flex;
    justify-content: right;
  }


